<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="eFirma.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="eFirma.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <eFirma.Properties.Settings>
            <setting name="SATOCSPUrl" serializeAs="String">
                <value>https://cfdi.sat.gob.mx/edofiel</value>
            </setting>
        </eFirma.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <eFirma.Properties.Settings>
            <setting name="SaveEvidenceMethod" serializeAs="String">
                <value>apiV1/Guardar/Evidencia</value>
            </setting>
            <setting name="UserWsSignGob" serializeAs="String">
                <value>xmalmorthen</value>
            </setting>
            <setting name="PwdWsSignGob" serializeAs="String">
                <value>b16f550d147bf92e9455074d9edfe013</value>
            </setting>
            <setting name="wsSignGob" serializeAs="String">
                <value>http://apisnet.col.gob.mx/wsSignGob</value>
            </setting>
        </eFirma.Properties.Settings>
    </userSettings>
</configuration>